/ClaseJava/nbproject/private/
/ClaseJavaAVA/nbproject/private/
/ClaseJavaAVA/build/
/JavaApplicationApache/nbproject/private/
/JavaApplicationApache/build/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/EstructurasControl/nbproject/private/
/EstructurasControl/build/